$breakpoints: (
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
);

$boxRadius: 3px;

$pagePadding: 25px;

$buttonBorderSize: 1px;
$buttonBorderRadius: 3px;

$headerHeight: 140px;
$menuHeight: 50px;

$breadcrumbsHeight: 60px;

$footerHeight: 70px;

