.profile-progress {
  position: relative;

  .profile-progress__title, .profile-progress__info {
    font-size: 20px;
    line-height: 24px;
    padding: 0;
    margin: 0;
  }

  .profile-progress__title {
    color: #4A4342;
    font-weight: 500;
    text-transform: uppercase;
  }

  .profile-progress__info {
    color: #95989A;
  }
  
  .profile-progress__bar__progress {
    position: relative;
    height: 50px;
    margin-right: 70px;

    .profile-progress__bar__progress__percent {
      position: absolute;
      top: 50%;
      width: 100px;
      margin-top: -11px;
      margin-left: -50px;
      padding-top: 22px;
      font-size: 20px;
      color: #95989A;
      text-align: center;
    }

    .profile-progress__bar__bullet {
      display: inline-block;
      box-sizing: border-box;
      position: absolute;
      top: 0;
      left: 50%;
      margin-left: -11px;
      width: 22px;
      height: 22px;
      background: #ffffff;
      border: 4px solid #F26C4F;
      border-radius: 50%;
    }

    .profile-progress__bar__progress--empty, .profile-progress__bar__progress--filled {
      position: absolute;
      top: 50%;
      left: 0;
      margin-top: -3px;
      height: 6px;
    }

    .profile-progress__bar__progress--empty {
      width: 100%;
      background: #c9c9c9;
    }

    .profile-progress__bar__progress--filled {
      background: #F26C4F;
    }
  }

  .profile-progress__cup__container {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 0;
    bottom: 0;

    .profile-progress__cup {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
}